body {
    font-family: 'Bangers', cursive !important;
    font-weight:bolder;
    font-size: large;
    overflow: hidden;
    background: linear-gradient(120deg, #68eacc, #2d5cfe);


  }
  .customborder {
    border-radius: 20%;
    border: 3px solid #20e9c8;

  }
  .btn-signup {
    position: relative;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 5px;
    padding: 8px 0;
    width: 200px;
    left: 120px;
    margin: 8px;
     }
     #google-logo{
        position: relative;
        width: 50px;
        height: 50px;
     }
     .btn-google{
        position: relative;
        width: 50px;
        border-radius: 25px;
        background-color: white;
        left:200px;
        margin: 7px 0;
     }
     .navbar-brand {
      font-size: larger;
      position: absolute;
      top: 10px;
      left: 20px;
     }
     .container {
      position: relative;
      bottom: 20px;
      left: 100px;
     }
     .text-center {
      font-size: 30px;
      position: relative;
      top: 15px;
     }